html, body {
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

#fen {
  user-select: text;
  position: relative;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 500px;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: center;
  color: white;
}

#gameboard {
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

#info-menu {
  position: relative;
  width: 400px;
  height: 100px;
  top: -400px;
  left: 400px;
  cursor: pointer;
}

#info-menuP {
  top: -20px;
  margin-left: 25px;
  position: relative;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: left;
  color: white;
  line-height: 2;
}

#click-prompt {
  top: -20px;
  margin-left: 25px;
  position: relative;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: left;
  color: white;
  font-weight: bold;
}

#layer-click-prompt {
  top: 450px;
  margin-left: 25px;
  position: absolute;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: left;
  color: white;
  line-height: 2;
  font-weight: bold;
}

#piece-menu {
  top: -975px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100px;
  visibility: hidden;
}

#nnue-layers {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  top: -70px;
}

#fc0 {
  margin-top: 75px;
}

#ac0_gap {
  position: relative;
  display: flex;
  width: 50px
}

#eval-calc {
  position: absolute;
  display: flex;
  width: 1000px;
  top: 50px;
  background-color: rgba(26, 26, 26, 1);
  z-index: 1;
  border-radius: 25px;
  border: 5px solid white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
}

#eval-calcP {
  margin-left: 25px;
  position: relative;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: left;
  color: white;
  line-height: 2;
}

#close-calc {
  position: absolute;
  left: 965px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: rgb(255,0, 0);
}

#layerDesc {
  display: flex;
  width: 600px;
  height: 500px;
  left: 200px;
  position: absolute;
  top: 50px;
  background-color: rgba(26, 26, 26, 1);
  z-index: 1;
  border-radius: 25px;
  border: 5px solid white;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
}

#layerDescContent {
  display: flex;
  position: absolute;
  align-items: center; /* Centers vertically */
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  text-align: left;
  color: white;
  left: 25px;
  width: 550px;
  line-height: 2;
}

#desc-close {
  position: absolute;
  left: 565px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: rgb(255,0, 0);
}

.overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.layer {
  cursor: pointer;
  position: relative;
  display: flex;
  margin-top: 50px;
  gap: 5px;
  justify-content: center;
  width: 1000px
}

.node {
  position: relative;
  width: 25px;
  height: 25px;
  display: inline-block;
}

.fc0_p {
  position: relative;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 25px;
  font-family: 'Oswald', sans-serif;
  font-size: 11px;
  text-align: center;
  color: white;
  transform: translateY(-30px);
}

.acSq0_p {
  position: relative;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 25px;
  font-family: 'Oswald', sans-serif;
  font-size: 11px;
  text-align: center;
  color: white;
  transform: translateY(-30px);
}

.ac0_p {
  position: relative;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 25px;
  font-family: 'Oswald', sans-serif;
  font-size: 11px;
  text-align: center;
  color: white;
  transform: translateY(-30px);
}

.acFinal0_p {
  position: relative;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 25px;
  font-family: 'Oswald', sans-serif;
  font-size: 11px;
  text-align: center;
  color: white;
  transform: translateY(-30px);
}

.fc1_p {
  position: relative;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 25px;
  font-family: 'Oswald', sans-serif;
  font-size: 11px;
  text-align: center;
  color: white;
  transform: translateY(-30px);
}

.ac1_p{
  position: relative;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 25px;
  font-family: 'Oswald', sans-serif;
  font-size: 11px;
  text-align: center;
  color: white;
  transform: translateY(-30px);
}

.fc2_p {
  position: relative;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 25px;
  font-family: 'Oswald', sans-serif;
  font-size: 11px;
  text-align: center;
  color: white;
  transform: translateY(-30px);
}




.chess-board {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.square {
  position: absolute;
  width: 50px;
  height: 50px;
}

.chess-piece {
  cursor: pointer;
}

.highlight {
  background: rgba(26, 26, 26, 0.6);
}

.square.a8 {
  top: 0;
  left: 0;
}

.square.b8 {
  top: 0;
  left: 50px;
}

.square.c8 {
  top: 0;
  left: 100px;
}

.square.d8 {
  top: 0;
  left: 150px;
}

.square.e8 {
  top: 0;
  left: 200px;
}

.square.f8 {
  top: 0;
  left: 250px;
}

.square.g8 {
  top: 0;
  left: 300px;
}

.square.h8 {
  top: 0;
  left: 350px;
}

.square.a7 {
  top: 50px;
  left: 0;
}

.square.b7 {
  top: 50px;
  left: 50px;
}

.square.c7 {
  top: 50px;
  left: 100px;
}

.square.d7 {
  top: 50px;
  left: 150px;
}

.square.e7 {
  top: 50px;
  left: 200px;
}

.square.f7 {
  top: 50px;
  left: 250px;
}

.square.g7 {
  top: 50px;
  left: 300px;
}

.square.h7 {
  top: 50px;
  left: 350px;
}

.square.a6 {
  top: 100px;
  left: 0;
}

.square.b6 {
  top: 100px;
  left: 50px;
}

.square.c6 {
  top: 100px;
  left: 100px;
}

.square.d6 {
  top: 100px;
  left: 150px;
}

.square.e6 {
  top: 100px;
  left: 200px;
}

.square.f6 {
  top: 100px;
  left: 250px;
}

.square.g6 {
  top: 100px;
  left: 300px;
}

.square.h6 {
  top: 100px;
  left: 350px;
}

.square.a5 {
  top: 150px;
  left: 0;
}

.square.b5 {
  top: 150px;
  left: 50px;
}

.square.c5 {
  top: 150px;
  left: 100px;
}

.square.d5 {
  top: 150px;
  left: 150px;
}

.square.e5 {
  top: 150px;
  left: 200px;
}

.square.f5 {
  top: 150px;
  left: 250px;
}

.square.g5 {
  top: 150px;
  left: 300px;
}

.square.h5 {
  top: 150px;
  left: 350px;
}

.square.a4 {
  top: 200px;
  left: 0;
}

.square.b4 {
  top: 200px;
  left: 50px;
}

.square.c4 {
  top: 200px;
  left: 100px;
}

.square.d4 {
  top: 200px;
  left: 150px;
}

.square.e4 {
  top: 200px;
  left: 200px;
}

.square.f4 {
  top: 200px;
  left: 250px;
}

.square.g4 {
  top: 200px;
  left: 300px;
}

.square.h4 {
  top: 200px;
  left: 350px;
}

.square.a3 {
  top: 250px;
  left: 0;
}

.square.b3 {
  top: 250px;
  left: 50px;
}

.square.c3 {
  top: 250px;
  left: 100px;
}

.square.d3 {
  top: 250px;
  left: 150px;
}

.square.e3 {
  top: 250px;
  left: 200px;
}

.square.f3 {
  top: 250px;
  left: 250px;
}

.square.g3 {
  top: 250px;
  left: 300px;
}

.square.h3 {
  top: 250px;
  left: 350px;
}

.square.a2 {
  top: 300px;
  left: 0;
}

.square.b2 {
  top: 300px;
  left: 50px;
}

.square.c2 {
  top: 300px;
  left: 100px;
}

.square.d2 {
  top: 300px;
  left: 150px;
}

.square.e2 {
  top: 300px;
  left: 200px;
}

.square.f2 {
  top: 300px;
  left: 250px;
}

.square.g2 {
  top: 300px;
  left: 300px;
}

.square.h2 {
  top: 300px;
  left: 350px;
}

.square.a1 {
  top: 350px;
  left: 0;
}

.square.b1 {
  top: 350px;
  left: 50px;
}

.square.c1 {
  top: 350px;
  left: 100px;
}

.square.d1 {
  top: 350px;
  left: 150px;
}

.square.e1 {
  top: 350px;
  left: 200px;
}

.square.f1 {
  top: 350px;
  left: 250px;
}

.square.g1 {
  top: 350px;
  left: 300px;
}

.square.h1 {
  top: 350px;
  left: 350px;
}

.square.bP {
  top: 25px;
  left: -50px;
  visibility: visible;
}

.square.bN {
  top: 85px;
  left: -50px;
  visibility: visible;
}

.square.bB {
  top: 145px;
  left: -50px;
  visibility: visible;
}

.square.bR {
  top: 205px;
  left: -50px;
  visibility: visible;
}

.square.bQ {
  top: 265px;
  left: -50px;
  visibility: visible;
}

.square.bK {
  top: 325px;
  left: -50px;
  visibility: visible;
}

.square.wP {
  top: 25px;
  left: -100px;
  visibility: visible;
}

.square.wN {
  top: 85px;
  left: -100px;
  visibility: visible;
}

.square.wB {
  top: 145px;
  left: -100px;
  visibility: visible;
}

.square.wR {
  top: 205px;
  left: -100px;
  visibility: visible;
}

.square.wQ {
  top: 265px;
  left: -100px;
  visibility: visible;
}

.square.wK {
  top: 325px;
  left: -100px;
  visibility: visible;
}
